* {
    box-sizing: border-box;
  }

header {
    text-align: center;
    padding: 20px;
    background-color: pink;
    font-family: sans-serif;
    border: solid;
    border-color: white;
    border-width: 10px;
}

.project {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
 
}

button {
    border: solid;
    border-width: 3px;
    color: black;
    background-color: rgba(255, 192, 203, 0.247);
    text-align: center;
    font-size: 15px;
    border-radius: 10px;  
    justify-content: center;
    height: 50px;
    width: 100px;
    margin: auto;
    display: block;

}


.card {

    border: solid;
    border-width: 10px;
    border-color: black;
    padding: 20px;
    border-radius: 20px;  
    margin: 10px;
    height: auto;
   
  

/* height set to auto so that the box opens and closes */

  
 
}

h2 {
font-family: sans-serif;
font-size: 35px;
text-align: center;
max-width: 400px;
display: block;
margin: auto;
}


p {
    width: 100%;
    max-width: 400px;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 0 auto;
    display: block;
    margin: 1cm auto;
    }


.card img {
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    padding: 20px;
    justify-content: center; 
    display: block;
    margin: auto;

}


