body {
    font-family:Montserrat, sans-serif;
    padding: 70px;
}

/* text that appears when you click the button "Read More" on the Home page*/
.hidden {
    display:none;
}

.nav {
    position:fixed;
    width:100vw;
    box-shadow: 20px light grey;
    font-size:x-large;
}


/* targetting the whole navigation menu */
ul.nav-list {
 display:flex;
 justify-content: space-around;
 align-items: center;
 gap: 2rem;
 margin: 0 2rem;
}

/* targetting the main three words: About, Projects & Contact */

li.nav-list-item {
    list-style:none;
    font-weight:bold;
    /* because we are going to use position absolute later on we now use 
    position:relative; */
    position:relative;
    padding:1.5rem 1rem;
    cursor:pointer;

}

li.nav-list-item::after {
     content: "";
     width:0;
     height: 0.3rem;
     position:absolute;
     left:1rem;
     bottom:0.8rem;
     background-color: lightblue;
     transition:width 200ms ease-in;
}

li.nav-list-item:hover::after {
    width:80%
}

/* when you hover on the li.nav-list-item the dropdown menu (ul) is visible */
li.nav-list-item:hover ul {
    opacity:1;
    visibility:visible;  
}


/* Drop down items from the About menu targeted as a whole */

ul.nav-list-drop {
    position:absolute;
    top:4rem;
    left:-1rem;
    box-shadow: 0 0 10px grey;
    background-color:white;
    border-radius:1rem;
    width:17rem;
    padding:1rem;
    display:flex;
    flex-direction:column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

/* drop down menu items */
ul.nav-list-drop li {
    list-style:none;
    padding:0.5rem 1rem;
    transition: 200ms ease-in-out;
    border-radius:1rem;
}
    
ul.nav-list-drop li:hover {
     background-color: lightcyan;
     border-radius:1rem;
   
    }
    
a {
        color: inherit; 
        text-decoration: inherit; 
      }

 main {
        margin-top: 100px; /* Add a top margin to push the main content below the nav */
      
      } 